.projects{
    /* overflow: hidden; */
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.projects h2{
    display: inline-flex;
    width: 100%;
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
    border-spacing: 2px;
    border-bottom: 3px;
    border-style: solid;
    border-color: blueviolet;
    opacity: 0.8;
}

.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
     overflow: hidden; 
    position: relative;
    width: 90%;
    height: 80%;
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 85%;
    --items: 2;
    --middle: 2;
    --position: 1;
}

.projects-navigation{
    display: inline-flex;
    align-self: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin: 10px;
}

.projects-navigation input[type="radio"]{
    color:blueviolet;
}
.project-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 450px;
    padding: 5px;
    margin: 5px;
    background-color: black;
    border-color: blueviolet;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    color: black;
    position: absolute;
    color: white;
    --r: calc(var(--position) - var(--offset));
    --abs: max(var(--r), var(--r) * -1);
    transition: all 0.25s linear;
    transform:  translateX(calc(-100px * var(--r))) scale(calc(1 - 0.1 * var(--abs)));
    z-index: calc((var(--position) - var(--abs)));
}

.project-tab img{
    width: 320px;
    height: 180px;
}

.project-tab:nth-of-type(1){
    --offset: 1;
}
.project-tab:nth-of-type(2){
    --offset: 2;
}
.project-tab:nth-of-type(3){
    --offset: 3;
}
.project-tab:nth-of-type(4){
    --offset: 4;
}

.projects:has(#pos1:checked) .project-container{
    --position: 1;
}

.projects:has(#pos2:checked)  .project-container{
    --position: 2;
}

.projects:has(#pos3:checked) .project-container{
    --position: 3;
}


.projects:has(#pos4:checked) .project-container{
    --position: 4;
}

.title{
    font-size: larger;
    height: auto;
    margin-top: 10px;
}
.description{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    margin: 10px;
    text-align: left;
    height: 100%;

}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal video{
    max-width: 90%;
    max-height: 90%;;
}

.close{
    top: 5px;
    right: 5px;
    position: absolute;
    color: antiquewhite;
    font-size: larger;
    cursor: pointer;
}