
:root{
    --menu-transition-delay: 5s;
    --skills-transition: 100%;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
   
}

.list{
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
}

.card{
    display: flex;
    height: 100%;
    width: 30%;
    border-radius: 15px;
    align-items: flex-end;  
    justify-content: flex-start;
    margin: 15px;
    position: relative;
    overflow: hidden;
    opacity: 0.7;
    background-color: black;
    z-index: 1;

font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.card a{
    transform: rotate(-90deg) scale(1.0);
    font-size: 180px;
    margin: 40px;
    width: 100%;
    white-space: nowrap;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: transform 1s ease;
}

.card.minimize{
  animation: minimize-card 2s ease 1s forwards; 
  animation-play-state: running;
}
.card.maximize{
    animation: minimize-card 2s ease reverse forwards; 
    animation-play-state: running;
  }

.card.hidden{
    animation: minimize-tabs 1s linear forwards; 
}

.card.inactive{
    animation: hide-card 1s linear forwards
}

.card.active{
    animation :move-left 3s linear forwards;
}

.card.show{
    animation: minimize-tabs 1s linear reverse forwards; 
}

.card a.minimizeText{
    animation: text-off 1s linear forwards; 
    animation-play-state: running;
}

.card a.maximizeText{
    animation: text-off 1s linear reverse forwards; 
    animation-play-state: running;
}
.content.show{
    animation: show-content 1s linear forwards;
    animation-delay: 2s;
}
.content.hide{
    animation: show-content 1.5s linear reverse forwards;
    animation-delay: 0s;
}
.menu.hide{
    animation: small-panel 1.5s linear forwards; 
    animation-delay: 0.5s;
    /* width:25%;
    max-width: 400px;
    min-width: 300px; */
}

.menu.show{
    animation: big-panel 1s linear forwards; 
    animation-delay: 0s;
}
.card.about-me-color{
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
}

.card.front{
    z-index: 1;
}

.card.back{
    z-index: -1;
}

.card.skills-color{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(110, 34, 182);
}
.card.projects-color{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(89, 25, 148);
}

.menu .card:not(.hoverCard):hover a{
    position: relative;
    animation: move-text 2s ease-out;
}

.card.about-me-color:hover{
    box-shadow: 0 0 10px blueviolet, 0 0 20px blueviolet, 0 0 30px blueviolet;
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
}
.card.skills-color:hover{
    box-shadow: 0 0 10px rgb(110, 34, 182), 0 0 20px rgb(110, 34, 182), 0 0 30px rgb(110, 34, 182);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(110, 34, 182)
}
.card.projects-color:hover{
    box-shadow: 0 0 10px rgb(89, 25, 148), 0 0 20px rgb(89, 25, 148), 0 0 30px rgb(89, 25, 148);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(89, 25, 148);
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    height: 100%;
    color: white; 
    position: relative;
}

.logo{
    width: 20%;
}

.data{
    overflow: hidden;
    display: flex;
    opacity: 0;
}

.content{
    width: 0%;
    background-color: black;
    border-style: solid;
    border-width: 0px;
    border-color:#8a2be2;
    height: 95%;
    margin-top: 15px;
    translate: 150px;
    display: flex;
    position: absolute;
}

.back-button{
    margin: 15px;
    display: flex;
    position: absolute;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    left: -100%;
    overflow: hidden;
    transform-origin: top center;
    /* transition: left 2.0s ease-in-out; */
}


.back-button.active{
    display: flex;
    left: 0%;
    opacity: 1;
    animation: spring-pop 1.2s ease-out forwards;
}

.back-button p:nth-child(1){
    font-size: 60px;
}
.back-button p:nth-child(2){
    font-size: 20px;
}


@keyframes move-text {
    0% {
        bottom: 0%;
    }
    50%{
        bottom: 50%;
    }
    100%{
        bottom: 0%;
    }
}

@keyframes hide-card{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        width: 0%;
        margin: 0px;
    }
}

@keyframes minimize-card
{
    100%{
        width: 15%;
        height: 100%;
        min-width: 120px;
    }
}

@keyframes hide-panel{
    
    100%{
        width: 0%;
        height: 0px;
    }
}

@keyframes minimize-tabs{
    100%{
        height: 0px;
        opacity: 0;
        overflow: hidden;
    }
}

@keyframes move-left
{
    100%{
        left: 0%
    }
}
@keyframes text-off{
    0% {
        transform: translate(0, 0) scale(1) rotate(-90deg);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.2) rotate(-90deg);
    }
}

@keyframes show-content{
    0%{
        width: 0%;
        border-width: 0px;
    }

    100%{
        width: 80%;
        border-width: 3px;   
    }
}

@keyframes small-panel{
    0%{
        width:100%;
    }
    100%
    {
        width:300px;
    }
}

@keyframes big-panel{
    0%{
        width:300px;
    }

    100%{
        width:100%;
    }
}

@keyframes spring-pop {
    0% {
      transform: skewY(0deg) scale(1) translateX(-100%);
      opacity: 0;
    }
    20% {
      transform: skewY(0deg) scale(1) translateX(-20%);
      opacity: 1;
    }
    40% {
      transform: skewY(10deg) scale(0.97) translateX(5%);
    }
    75% {
      transform: skewY(20deg) scale(1.02) translateX(15%);
    }
    90% {
        transform: skewY(10deg) scale(0.97) translateX(5%);
      }
    100% {
      transform: skewY(0deg) scale(1) translateX(0%);
    }
  }

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}